<div class="column is-12">
   <div class="card" style="min-height: 800px;position: relative; ">
        <div class="card-content">
            <div class="columns is-mobile is-centered">
                <div class="column is-half has-text-centered">
                <p class="title">
      "ERROR"
    </p>
                  <p class="label ">
      "We are sorry but the survey is expired and no longer available."
    </p>
                </div>
            </div>
        </div>
    </div>
</div>