<main class="column">
    <div class="level">
        <div class="level-left">
        <div class="level-item">
            <div class="title">Surveys Listing</div>
        </div>
        </div>
        <div class="level-right">
        <div class="level-item">
            <button type="button" class="button is-small">
            March 8, 2017
            </button>
        </div>
        </div>
    </div>

    <section class="columns is-multiline">
        <div class="column is-12">
            <%= link_to 'Add new survey', new_users_manage_survey_path, class: 'button is-primary'%>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-content">
                    <div class="container">
                    <table class="display" style="width:100%">
                        <thead>
                            <tr>
                                <th>Survey ID</th>
                                <th>Status</th>
                                <th>Title</th>
                                <th>Error Check</th>
                                <th>Group</th>
                                <th>Created</th>
                                <th>Owner</th>
                                <th>Partial</th>
                                <th>Full</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Donna Snider</td>
                                <td>Customer Support</td>
                                <td>New York</td>
                                <td>27</td>
                                <td>2011/01/25</td>
                                <td>$112,000</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>