<main class="column">
    <div class="level">
        <div class="level-left">
        <div class="level-item">
            <div class="title">New Survey</div>
        </div>
        </div>
        <div class="level-right">
        <div class="level-item">
            <button type="button" class="button is-small">
            March 8, 2017
            </button>
        </div>
        </div>
    </div>

    <section class="columns is-multiline">
        <div class="column is-12">
            <%= link_to 'Back', users_manage_surveys_path, class: 'button is-black'%>
            <%= link_to 'Add new survey', new_users_manage_survey_path, class: 'button is-primary'%>
        </div>
        <div class="column is-12">
            <div class="card">
                <div class="card-content">
                    <%= form_for(@survey, url: new_users_manage_survey_path) do |f|%>
                        <div class="container">
                            <div class="columns is-multiline">
                                <div class="column is-2">
                                    <div class="field">
                                        <label class="label">Title</label>
                                    </div>
                                </div>
                                <div class="column is-6">
                                    <div class="field">
                                        <div class="control">
                                            <input class="input" type="text" placeholder="Survey title">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="columns is-multiline">
                                <div class="column is-2">
                                    <div class="field">
                                        <label class="label">Description</label>
                                    </div>
                                </div>
                                <div class="column is-6">
                                    <div class="field">
                                        <div class="control">
                                             <%= f.cktext_area :recipe, :size => 5, :id => "field-area5", :ckeditor => {:language => "us"}  %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </section>
</main>