<div class="column is-12">
    <div class="card" style="min-height: 600px;position: relative; ">
        <div class="card-content">
            <% if params[:intro].present? %>
                <%= render '/users/manage/surveys/shared/start_screen'%>
            <% elsif params[:final].present? %>
                <%= render '/users/manage/surveys/shared/final_screen'%>
            <% else %>
                <%= render '/users/manage/surveys/shared/questionaire_new'%>
            <% end %>
        </div>
    </div>
</div>