<ul>
    <li class="is-active">
        <a id="general-setting">
            <span class="icon is-small"><i class="fas fa-cogs" aria-hidden="true"></i></span>
            <span>General Setting</span>
        </a>
    </li>
    <li>
        <a id="data-policy">
            <span class="icon is-small"><i class="fas fa-shield-alt" aria-hidden="true"></i></span>
            <span>Data Policy</span>
        </a>
    </li>
    <li>
        <a id="language">
            <span class="icon is-small"><i class="fas fa-language" aria-hidden="true"></i></span>
            <span>Language</span>
        </a>
    </li>
    <li>
        <a id="presentation">
            <span class="icon is-small"><i class="fas fa-eye" aria-hidden="true"></i></span>
            <span>Presentation</span>
        </a>
    </li>
    <li>
        <a id="theme">
            <span class="icon is-small"><i class="fas fa-paint-brush" aria-hidden="true"></i></span>
            <span>Theme Options</span>
        </a>
    </li>
</ul>