<% case @question.q_type %>
<% when "Textarea" %>
  <span class="label">Fill the text area</span>
<% when "Radio Button With Comment" %>
  <span class="label">Choose one of the following answers and comment</span>
<% when "List (Dropdown)" %>
  <span class="label">Choose one of the following answers</span>
<% when "Radio Button Level" %>
  <span class="label">Choose one of the following answers</span>
<% when "Radio Button" %>
  <span class="label">Choose one of the following answers</span>
<% when "Checkbox Input Text" %>
  <span class="label">Check all that apply and field the checked</span>
<% when "Checkbox" %>
  <span class="label">Check all that apply</span>
<% when "Checkbox With Limit" %>
  <span class="label">Check all that apply</span>
<% when "Ranking" %>
  <span class="label">Ranking</span>
  <span class="label">Fill the field</span>
<% when "Numerical" %>
  <span class="label">Numerical</span>
  <span class="label">Only an integer value may be entered in this field.</span>
<% when "Array" %>
<% when "Array Numerical" %>
<% else %>
  <span class="label"></span>
<% end %>

