<div id="modal-question-types" class="modal">
  <div class="modal-background"></div>
    <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Choose Question Types</p>
      <button type="button" class="delete modal--close" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div class="content">
        <div class="columns is-multiline">
          
          <div class="column is-12">
            <div class="field">
              <label class="label">Single Choice</label>
              <div class="buttons are-small">
                <a class="button is-primary is-rounded">List Radio</a>
                <a class="button is-primary is-rounded">List Dropdown</a>
                <a class="button is-primary is-rounded">List with comment</a>
                <a class="button is-primary is-rounded">5 point choice</a>
              </div>
            </div>
            <div class="field">
              <label class="label">Multiple Choice</label>
              <div class="buttons are-small">
                <a class="button is-primary is-rounded">Multiple Choice</a>
                <a class="button is-primary is-rounded">Multiple Choice with comments</a>
              </div>
            </div>
            <div class="field">
              <label class="label">Open Ended</label>
              <div class="buttons are-small">
                <a class="button is-primary is-rounded">Textarea</a>
                <a class="button is-primary is-rounded">Multiple input text</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>