<div id="modal-question-types" class="modal">
  <div class="modal-background"></div>
    <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Add Question</p>
      <button type="button" class="delete modal--close" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div class="content">
        <div class="columns is-multiline">
            <%= react_component("questions/TypeOptions", {group_id: @question_group.id, survey_id: @question_group.survey_id, questions: @question_group.questions.where(attached_to: nil).order(:position => :asc)}) %>
        </div>
      </div>
    </section>
  </div>
</div>