<div class="column is-12"> 
    <div class="card">
        <div class="card-header card-toggle">
            <p class="card-header-title">Logic</p>
            <a class="card-header-icon">
                <i class="fa fa-angle-down"></i>
            </a>
        </div>
        <div class="card-content toggle-content">
            <div class="content">
               
                <div class="field">
                    <label class="label">Terminate if answer : </label>
                            <select class="select2" name="terminate_condition[]" multiple="multiple">
                                <% @question.question_answers.each do |answer|%>
                                    <option value="<%=answer.id%>"><%= answer.code%>. <%= answer.exact_value%></option>
                                <% end %>
                            </select>
                </div>
            </div>
        </div>
    </div>
</div>