<nav id="menu" class="menu">
    <section class="menu-section">
    <h3 class="menu-section-title">Docs</h3>
    <ul class="menu-section-list">
        <li><a href="https://github.com/mango/slideout#installation" target="_blank">Installation</a></li>
        <li><a href="https://github.com/mango/slideout#usage" target="_blank">Usage</a></li>
        <li><a href="https://github.com/mango/slideout#api" target="_blank">API</a></li>
        <li><a href="https://github.com/mango/slideout#browser-support" target="_blank">Browser Support</a></li>
        <li><a href="https://github.com/mango/slideout#faq" target="_blank">FAQ</a></li>
    </ul>
    </section>

    <section class="menu-section">
    <h3 class="menu-section-title">Slideout</h3>
    <ul class="menu-section-list">
        <li><a href="https://github.com/mango/slideout" target="_blank">Fork it</a></li>
        <li><a href="https://github.com/mango/slideout/issues/new" target="_blank">Create an issue</a></li>
        <li><a href="https://github.com/mango/slideout/releases/" target="_blank">Download</a></li>
        <li><a href="https://cdnjs.cloudflare.com/ajax/libs/slideout/1.0.1/slideout.min.js" target="_blank">CDN</a></li>
    </ul>
    </section>
</nav>