<%= form_for(:question, url: preview_users_manage_surveys_path) do |f|%>
<div class="columns is-multiline">
    <div class="column is-12">
        <%= @survey.end_message.html_safe %>
    </div>
    <div class="column is-12 has-text-centered" style="bottom:20px;position:absolute">
        <%= link_to @survey.final_button_text, @survey.final_button_to_start == true ? preview_users_manage_surveys_path(@survey.id, intro: true) : @survey.final_button_url, 
                class: 'button is-primary-gradient'%>
    </div>
</div>
<% end %>