<div class="columns is-multiline">
    <div class="column is-12">
        <%= @survey.welcome_message.html_safe %>
    </div>
    <div class="column is-12 has-text-centered" style="bottom:20px;position:absolute">
        <%= link_to @survey.start_button_text, preview_users_manage_surveys_path(@survey.id, g: 1, q:1), class: 'button is-primary-gradient'%>
    </div>
</div>