<div class="column is-12">
    <div class="card" style="min-height: 600px;position: relative; ">
        <div class="card-content">
           <%= render '/users/manage/surveys/shared/questionaire'%>
        </div>
    </div>
</div>