<main class="column">
    <%= form_for :question_group, url: users_manage_question_group_path(params[:id]), method: :put do |f|%>
        <div class="level">
            <div class="level-left">
            <div class="level-item">
                <div class="title">Question Summary</div>
            </div>
            </div>
            <div class="level-right">
            <div class="level-item">
                <button type="button" class="button is-small">
                March 8, 2017
                </button>
            </div>
            </div>
        </div>
        <section class="columns">
            <div class="column is-12">
                <%= link_to 'Back to group', users_manage_question_group_path(params[:group_id], survey_id: @question.question_group.survey.id), class: 'button is-black', 'data-turbolinks' => false%>
                <% if params[:edit].present? %>
                    <%= f.submit 'Update', class: 'button is-primary'%>
                <% end %>
            </div>
        </section>
        <section class="columns">
            <div class="column is-3">
                <%= render '/users/manage/questions/shared/menu'%>
            </div>
            <div class="column is-9">
                <section class="columns is-multiline">
                    <div class="column is-12">
                        <div class="card">
                            <div class="card-content">
                                
                            </div>
                        </div>
                    </div>
                    <div class="column is-12">
                        <div class="card">
                            <div class="card-header">
                                <p class="card-header-title">Questionaire</p>
                            </div>
                            <div class="card-content">
                                <table class="display datatable" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Code</th>
                                            <th>Question</th>
                                            <th>Question Type</th>
                                            <th>Group</th>
                                            <th>Mandatory</th>
                                            <th>Answers</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    <% end %>
</main>