<section class="columns">
  <div class="column">
    <div class="field">
      <label class="label">Group Name</label>
      <%= f.hidden_field :survey_id, value: @survey.present? ? @survey.id : @question_group.id%>
      <%= f.text_field :name, class: 'input'%>
    </div>
    <div class="field">
      <label class="label">Description</label>
      <%= f.text_area :description, class: 'input', html:{rows: '10'}%>
    </div>
    <div class="field">
      <label class="label">Group Order</label>
      <%= f.number_field :order, class: 'input'%>
      <small>Eg: 1</small>
    </div>
  </div>
</section>