<div class="card">
    <div class="card-content">
        <aside class="menu">
        <p class="menu-label">
            General
        </p>
        <ul class="menu-list">
            <li><%= link_to '<i class="fa fa-edit"></i> Edit question group'.html_safe, users_manage_question_group_path(params[:id], survey_id: @question_group.survey_id, edit: true), data: {turbolinks: false}%></li>
            <li><%= link_to '<i class="fa fa-times-circle"></i> Delete Question Group'.html_safe, users_manage_question_group_path(params[:id]), :method => :delete, data: {confirm: 'Are you sure want delete this question group?'}%>
            <li><%= link_to '<i class="fa fa-check-circle"></i> Check Error'.html_safe, check_logic_users_manage_question_groups_path(id: params[:id]), method: :post%></li>
        </ul>
        <p class="menu-label">
            Questionaire
        </p>
        <ul class="menu-list">
            <li><a data-target="modal-question-types" class="open-modal"><i class="fa fa-plus-circle"></i> Add Question</a></li>
            <li><%= link_to '<i class="fa fa-file-import"></i> Import Question'.html_safe, check_logic_users_manage_question_groups_path%></li>
        </ul>
        <p class="menu-label">
            Extra
        </p>
        <ul class="menu-list">
            <li><a><i class="fa fa-eye"></i> Preview Survey</a></li>
            <li><a><i class="fa fa-eye"></i> Preview Group</a></li>
        </ul>
        </aside>
    </div>
</div>