<main class="column">
    <div class="level">
        <div class="level-left">
            <div class="level-item">
                <div class="title">Dashboard</div>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <button type="button" class="button is-small">
                    March 8, 2017
                </button>
            </div>
        </div>
    </div>

    <div class="columns is-multiline">
        <div class="column">
            <div class="box container">
                <div class="heading ">Welcome <strong><%= @users.email %></strong>!</div>
            </div>
        </div>
    </div>

    <div class="columns is-multiline">
        <div class="column is-one-third">
            <div class="level-right">
                <div class="level-item">
                    <div class="card" style="width: 250px;">
                        <%= link_to new_users_manage_survey_path do %>
                           
                            <div class="card-content">
                                <div class="content">
                                     <p class="card-title" style="text-align:center;">
                                        <strong>Create Survey</strong>
                                    </p>
                                </div>
                            </div>
                            <% end %>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="level-center">
                <div class="level-item">
                    <div class="card" style="width: 250px;">
                        <%= link_to users_manage_surveys_path do %>
                            
                            <div class="card-content">
                                <div class="content">
                                    <p class="card-title" style="text-align:center;">
                                        <strong>List Surveys</strong>
                                    </p>
                                </div>
                            </div>
                            <% end %>
                    </div>
                </div>
            </div>
        </div>

        <div class="column is-one-third">
            <div class="level-left">
                <div class="level-item">
                    <div class="card" style="width: 250px;">
                        <a href="#">
                            
                            <div class="card-content">
                                <div class="content">
                                    <p class="card-title" style="text-align:center;">
                                        <strong>Global Settings</strong>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="column is-one-third">
            <div class="level-right">
                <div class="level-item">
                    <div class="card" style="width: 250px;">
                        <a href="#">
                            <div class="card-content">
                                <div class="content">
                                    <p class="card-title" style="text-align:center;">
                                        <strong>Comfort Update</strong>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="column is-one-third">
            <div class="level-center">
                <div class="level-item">
                    <div class="card" style="width: 250px;">
                        <a href="#">
                            <div class="card-content">
                                <div class="content">
                                    <p class="card-title" style="text-align:center;">
                                        <strong>BlueWing Store</strong>
                                    </p>
                                </div>
                            </div>
                    </div>
                </div>
                </a>
            </div>
        </div>

        <div class="column is-one-third">
            <div class="level-left">
                <div class="level-item">
                    <div class="card" style="width: 250px;">
                        <a href="#">
                            <div class="card-content">
                                <div class="content">
                                    <p class="card-title" style="text-align:center;">
                                        <strong>Themes</strong>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
