<div id="modal-ter" class="modal">
  <div class="modal-background"></div>
  <%= form_for :question_group, url: users_manage_question_groups_path do |f|%>
    <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Add Question Group</p>
      <button type="button" class="delete modal--close" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div class="content">
        <%= hidden_field_tag :external, value: true %>
        <%= render '/users/manage/question_groups/shared/form', f:f%>
      </div>
    </section>
    <footer class="modal-card-foot">
      <%= f.submit 'Create', class: 'button is-primary'%>
      <button type="button" class="button modal--close">Cancel</button>
    </footer>
    <% end %>
  </div>
</div>